<div class="seccion">
  <ul>
    <li><%= link_to "Tickets por Modificar", :controller => "manager", :action => "mtmod" %></li>
    <li><%= link_to "Listado de Todos los Tickets", :controller => "manager", :action => "mtlist" %></li>
    <li><%= link_to "Listado de Todos los Recibos de Pago", :controller => "manager", :action => "mrlist" %></li>
  </ul>
</div>
