<seccion>
  <ul>
    <li><%= link_to "Tickets por Modificar", '#' %></li>
    <li><%= link_to "Listado de Todos los Tickets", '#' %></li>
    <li><%= link_to "Listado de Todos los Recibos de Pago", '#' %></li>
  </ul>
</seccion>
