<div class="seccion">
  <ul>
    <li><%= link_to "Recepcionar Recibos de Pago de Supervisores", '#' %></li>
    <li><%= link_to "Rendir Recibos de Pago a Supervisores", '#' %></li>
    <li><%= link_to "Recibos de Pago Rechazados por Supervisores", '#' %></li>
    <li><%= link_to "Listado de Todos los Recibos de Pago", '#' %></li>
  </ul>
</div>


