<div class="seccion">
  <table><tr><td class="formulario">
    <p id="notice">El Ticket N° <%= @id %> será eliminado permanentemente.</p>
  </td></tr></table>  
</div>

<div class="botones">
  <%= link_to 'Confirmar Eliminacion', :controller => "designer", :action => "destr", :id => @id, :co => true %>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "dsg" %>
</div>
