/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, h1, h2, h3, h4, img, ol, ul, li, form, label, table, tr, th, td, botones, header, seccion, titulos {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
botones, header, titulos, seccion {display:block;  margin-left: 10px; margin-right: 10px;}

/* typography.css */
html {font-size:100.01%;}
body {color:#222;font-family:"Arial", Helvetica, sans-serif; background: #D9CEC1;}
h1, h2, h3, h4, {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.7em;line-height:1;margin-bottom:1em;}
h4 {font-size:20px;margin-bottom:5px;}
hr {background:rgb(229,179,90);color:rgb(229,179,90);width:100%;height:2px;margin-top:2px;margin-bottom:10px;padding:0;border:none;}

/* marco externo */
.ext, .ext2 {background: #CCC2B5; border: 2px solid #D4C9BD; padding: 2px; border-top: 0; margin:0 auto;}
.ext {width: 800px; padding-top: 0;}
.med, .med2 {background: #E7E4E0; border: 2px solid #C5BCB0; padding: 1px; padding-top: 0; }
.med {border-top: 0;}
.int, .int2 {background: white; border: 1px solid #F2F0EF;  padding-bottom: 20px;}
.int {border-top: 0;}

div.header {padding: 11px;}
div.header img {float: right; }

div.titulos {margin-top: 2px; padding: 10px; background: #8C7D69; font-size:1.6em; color: white; }
div.titulos a {margin-top: 4px; font-size:0.8em; float: right;  color: white; font-weight: normal;}
div.titulos a:hover {text-decoration: underline; color: white;}

div.seccion {margin-top: 5px; padding: 20px; background: #FFDC9E; font-size:13px; overflow: auto ; }

div.botones {margin-top: 10px; padding: 15px; background: #FFDC9E; text-align: center; }
div.seccion div.botones {margin-top: 7px; padding: 4px;}
div.botones a {margin: 7px; padding: 4px 8px; text-decoration: none; color: #222; font-size: 13px;
               border: 1px outset #CCC;  background: rgb(255,199,100); }
div.botones a:hover { background: rgb(229,179,90); text-decoration: none;}
div.botones a:active { border: 1px inset #000;}
div.botones input {  padding: 4px 8px; text-decoration: none; font-weight: bold;  color: #222; font-size: 12px; border: 1px outset #CCC;  background: rgb(255,199,100);	}

div.nbsp {height: 18px;} 
div.subtit {margin-top:6px; margin-bottom: 6px; font-size: 14px; font-weight: bold;}
div.obs, div.obs li {font-size:12px; }
div.impt {font-size:14px; color: rgb(172,0,0); margin:12px;}

/*div.botones {margin-top: 10px; padding: 15px; background: #FFDC9E; text-align: center; }
div.botones a {margin: 7px; padding: 4px 8px; text-decoration: none; color: #222; font-size: 13px;
               border: 1px outset #CCC;  background: rgb(255,199,100); }
div.botones a:hover { background: rgb(229,179,90); text-decoration: none;}
div.botones a:active { border: 1px inset #000;}
div.botones input { margin: 7px; padding: 4px 8px; text-decoration: none; font-weight: bold;  color: #222; font-size: 12px; border: 1px outset #CCC;  background: rgb(255,199,100);	}
 td div.botones input { margin-top:10px;} 
div.actions { text-align: center;}
div.actions input { margin: 7px; margin-top:20px; padding: 4px 8px; text-decoration: none; font-weight: bold;  color: #222; font-size: 12px; border: 1px outset #CCC;  background: rgb(255,199,100);	}
td div.actions input { margin-top:8px;}
*/

ul { list-style-type: square; margin-left: 60px; font-size: 15px;  }
a { color: #AC0000; font-weight: bold; text-decoration: none;}
a:hover {  text-decoration: underline;	color: rgb(172,0,0);}
p {  margin: 0;  padding: 0;}

/* Notificaciones */
#notice {margin-top:10px; margin-bottom:20px; text-align: center; font-size:16px; color: rgb(172,0,0);}

/* Errores */
#error, #alerta {margin:0 auto 0 auto; margin-bottom: 12px; background-color: white;
  border: 2px solid rgb(172,0,0);}
#error h2, #alerta h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; 
  font-size: 14px; background-color: #c00; color: #fff; margin-top: 0px; margin-bottom: 0px;}
#error ul li, #alerta ul li { font-size: 13px;	margin: 5px;  margin-left: 0px;}
.field_with_errors { padding: 1px; display: table;  background-color: rgb(172,0,0);} 

input[type=text], input[type=password], input.text, input.title, textarea, select, input.checkbox, input.radio {margin:2px 0; font-size: 13px; }

/* Tablas */
table { margin:0 auto; border-collapse: collapse; font-size: 13px; }

td {padding: 2px; }
td.marco {border: 1px solid rgb(229,179,90); padding: 12px; }
td.ro input[type=text] {background: rgb(235, 235, 228); margin:3px 0; border: 1px solid #AAA; padding:2px;}

table.formulario { width:100%}
table.formulario td {vertical-align: middle; border-bottom: 1px solid rgb(254,204,115);}
table.formulario td.ro div {background: rgb(235, 235, 228); margin:2px 0; border: 1px solid #AAA; padding:2px;}

table.index th, table.index td { border: 1px solid rgb(229,179,90); padding: 3px;}
table.index th { background: rgb(255, 199, 100);}
table.index td { background: white; }
table.index a { font-weight: normal; }

div.field    { margin-top: 3px; margin-bottom: 3px;} 
div.field_txt{ margin-bottom: 4px; padding: 5px; border: 1px solid #AAA;  background: white;  width: 350px; }

table.display { width:100%}
table.display td {vertical-align: middle; border-bottom: 1px solid rgb(254,204,115);}
table.display div    { margin-top:2px; margin-bottom:2px; border:1px solid #AAA; background:white; padding:2px;}

div.sn { width: 30px;} 
div.num { width: 70px;}
div.sh { width: 104px;}
div.md { width: 135px;}
div.l30 { width: 30px;} 
div.l90 { width: 90px;}
div.l104 { width: 104px;}
div.l210 { width: 210px;}
div.l240  { width: 240px; }
div.l260 { width: 260px;}
div.l300 { width: 300px;}
div.l484 { width: 484px;}

div.n  { width: 240px; }
div.nh  { width: 240px;  height:40px}
div.lg { width: 484px;}
div.lgh {width: 484px; height:40px} 
div.lmh {width: 405px; height:40px}
div.nh  { width: 240px; height:40px}

/* print */
table.info { margin:0 auto; border-collapse: collapse; border:0px; width:100%}
table.info td {padding:3px; border:1px solid white; vertical-align:top}
.centrar {text-align: center; }
table.print { margin:0 auto; border-collapse: collapse; border:0px; width:100%}
table.print th, table.print td {padding:2px; border:1px solid rgb(200,200,200); background:white;}
table.print td.r {text-align: right; vertical-align:middle;}
div.nota {font-size:9px;margin-top:35px;text-align: center;}



