  <% if target.errors.any? %>
   <div id="error">
      <h2>Error: No es posible crear <%= text %>. <br>Corregir lo siguiente:</h2>
      <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
   </div>
  <% end %>
