<table><tr><td class="formulario">
<%= form_for(@payment_agreement) do |f| %>
  <%= render "shared/error_messages", :target => @payment_agreement, :text => "el Acuerdo de Pago" %>  
  
  <%= render "shared/name_descr_state", :f => f %> 

<% end %>
</td></tr></table>
