  <% if @ticket.adjust_sup_time %>
    <tr>
      <td>Fecha solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%d-%m-%Y") %></div></td><td></td>
      <td>Hora solicitud:</td>
      <td class="ro"><div class="sh"><%= @ticket.adjust_sup_time.strftime("%H:%M") %> hrs.</div></td>
    </tr>
  <% end %>
  </table>

  <div class="actions">
    <%= f.submit "Grabar"%>
  </div>  

