<% if current_user.profile_id==1 %> <!-- Ejecutivo de Cobranza -->
  <% var = "ejc" %>
<% elsif current_user.profile_id==2 %> <!-- Supervisor -->
  <% var = "sup" %>
<% elsif current_user.profile_id==6 %> <!-- Gerencia -->
  <% var = "ger" %>
<% end %>  
<% parc = "form_" + var %>

<div class="seccion">
  <%= render parc %>
</div>
<div class="botones">
  <%= link_to 'Anular el Ticket', :controller => "tickets", :action => "ntc", :acc => '1', :id => @tid %> 
  <%= link_to 'Cancelar', :controller => "sessions", :action => var %> 
</div>

<%= render "hiddenvar" %>
