<div class="seccion">
  <%= render 'form' %>
</div>

<div class="botones">
  <%= link_to 'Anular el Ticket', :controller => "tickets", :action => "ntc", :acc => '1', :id => @tid %> 
  <%= link_to 'Cancelar', :controller => "sessions", :action => "ejc" %> 
</div>

