<div class="seccion">
<table><tr><td class="formulario">
  <p id="notice">El Ticket N° <%= @ticket.id %> ha sido anulado.</p>
</td></tr></table>  
</div>

<div class="botones">
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>
</div>
