<seccion>
<table><tr><td class="formulario">
<% form_tag({:controller => :tickets, :action => :list}, :method => :get) do %>
  <div class="field">
   Rut: <br>
   <%= text_field_tag :search, params[:search], :size => "10"  %>
  </div>
  Ingrese sólo números,<br> sin puntos ni guiones<br> y sin dígito verificador.
  <div class="actions">
    <%= submit_tag "Buscar" %>
  </div>  
<% end %>
</td></tr></table>
</seccion>

<botones>
  <%= link_to 'Página Principal', :controller => "sessions", :action => "ejc" %>
</botones>

