<table><tr><td class="formulario">
<%= form_for(@payment_form) do |f| %>
  <%= render "shared/error_messages", :target => @payment_form, :text => "la Forma de Pago" %>  

  <%= render "shared/name_descr_state", :f => f %> 

<% end %>
</td></tr></table>

