<table class="datos">
  <tr>
    <td>Acuerdo de Pago: &nbsp;</td>
    <td><%= f.collection_select :payment_agreement_id, PaymentAgreement.where('state = true').order('name ASC'), :id, :name %></td>
    <th rowspan=20 width=30></th>
    <td>Total a Pagar: &nbsp;</td>
    <%= f.hidden_field :total_pay, :value=> @total_rp %></td>
    <td class="ro"><div class="sh"><%= number_to_currency(@total_rp, :precision => 0, :delimiter => ".") %></div></td>
  </tr>
</table>
